#local-search{
	width: 816px;
	height: 42px;
	background-color: var(--bcc-deepen);
	border: 0;
	border-radius: var(--radius-nl);
}
#local-search label{
	width: inherit;
	height: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 6px;
}
#local-search label svg{
	width: 24px;
	height: 24px;
	
	margin-left: 8px;
}
#local-search label input{
	flex: 1;
	height: 100%;
	outline: none;
	border: 0;
	border-radius: var(--radius-sm);
	background-color: transparent;
	
	margin-right: 8px;
	
}
