body{
    background-color: #E6E6FA;
    margin: 0;
}


#footer{
    display: flex;
    position: absolute;
    bottom: 20px;
    left:calc(50% - 126px);
    background-color: #b8b8fc;
    padding:10px;
    border-radius:50px;
}
/* #footer:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
} */
#footer div{
    height:40px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left:12px;
}
#footer img{
    width: 32px;
    height: 32px;
}
#footer-high{
    height:60px;
    width:60px;
    background-color: #b8b8fc;
    border-radius:50%;
    position: absolute;
    left:calc(50% - 30px);
    bottom:35px;
    z-index:-1;
}