body{
    background-color: #E6E6FA;
    margin: 0;
}


#footer{
    display: flex;
    position: fixed;
    background-color: lightcoral;
    bottom: 0;
    width: 100vw;
    height: 72px;
    overflow: hidden;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    gap: 16px;
}
#footer div{
    height: 72px;
    display: flex;
    justify-items: center;
    align-items: center;
}
#footer img{
    width: 32px;
    height: 32px;
}
